.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  margin:auto;
  font-family: "Roboto" , sans-serif;
}
.container > * {
  margin-auto: auto;
  margin-top: 100px;
}
#page-wrap{
  margin-top: 25%;
}
.header {
  height: 94px;
  background-color: #efebeb;
  width: 100%;
  position: fixed;
  top:0;
  Z-index:4
}
.logo {
  position: relative;
  width: 300px;
  height: 84px;
  top:7px;
}
.container_columns
{
  display: flex;
  flex-direction: row;
  padding: 6% 3%;
  gap: 45px;
}
.container_columns_left{
 width: 22%;
 line-height: 22px;
}
.container_columns_right_parent{
    color: black;
    width: 76%;
    
}
.container_columns_right{
  background-color: #efebeb;
  padding: 10px 30px 10px 30px;
  margin-bottom: 26px;
}
.formulario_horario{
  display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    margin-bottom: 3px;
}
.div_center{
  display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 2px;
}
.loginButton{
  position: fixed;
  right: 100px;
  top: 28px;
  border-radius: 100%;
  width: 45px;
  height: 45px;
}

.formulario{
  width: 100%;
  height: 40px;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  border: 2px solid #d1d1d1;
  transition: all .3s;
  line-height: 1.5;
  font-size: 1.1em;
  margin-bottom: 15px;
}
.formulario_checkbox{
  width:25px;
  height: 25px;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  border: 2px solid #d1d1d1;
  transition: all .3s;
  line-height: 1.5;
  font-size: 1.1em;
  margin-right: 15px;
}
.formulario_date{
  width: 110px;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  border: 2px solid #d1d1d1;
  transition: all .3s;
  line-height: 1.5;
  font-size: 1.1em
}
.formulario_importe{
  width: 90px;
  height: 40px;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  border: 2px solid #d1d1d1;
  transition: all .3s;
  line-height: 1.5;
  font-size: 1.1em;
  margin-bottom: 15px;
}

.suggestions {
  list-style-type: none;
  background: #fff;
  padding: 5px;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  display: flex;
  align-items: flex-start; 
  cursor: pointer;
  color: black;
}

.suggestions_list {
  padding: 10px;
  background-color: white;
  padding: 1px;
  
}

.suggestions_list div:hover {
  background-color: #f5f5f5;
}
.park_image {
  margin-right:6px;
}
.title_h2 {
  padding: 25px 0;
  color: #68e4dc;
}


/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
  #page-wrap{
    margin-top: 25%;
  }
  .logo {
    position: relative;
    width: 175px;
    height: 48px;
    top: 26px;
  }

  .container_columns
  {
    display: flex;
    flex-direction: column;
    width:100%
  }
  .container_columns_left
  {
   width:100%
  }
  .container_columns_right_parent
  {
   width:100%
  }
}