.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  margin:auto;
}
.container > * {
  margin-auto: auto;
}
#page-wrap{
  margin-top: 25%;
}
.header {
  height: 94px;
  background-color: #eeeded;
}
.logo {
  position: relative;
  width: 300px;
  height: 84px;
  top:7px;
}


.suggestions {
  list-style-type: none;
  background: #fff;
  padding: 5px;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  display: flex;
  align-items: flex-start; 
  cursor: pointer;
  color: black;
}

.suggestions_list {
  padding: 10px;
  background-color: white;
  padding: 1px;
  
}

.suggestions_list div:hover {
  background-color: #f5f5f5;
}
.park_image {
  margin-right:6px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
  #page-wrap{
    margin-top: 25%;
  }
  .logo {
    position: relative;
    width: 255px;
    height: 70px;
    top: 14px;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }
      .suggestions {
        list-style-type: none;
        background: #fff;
        border: 1px solid #ccc;
        padding: 0;
        margin: 0;
        max-height: 200px;
        overflow-y: auto;
      }

      .suggestions li {
        padding: 10px;
        cursor: pointer;
      }

      .suggestions li:hover {
        background-color: #f5f5f5;
      }
}